.input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex: 1;
  border: 2px solid var(--custom);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  column-gap: 5px;
}
.input-main-container {
  flex: 90%;
}
.input-inner-container {
  width: 100%;
  outline: none;
  border: none;
  font-size: var(--text);
}
.icon-main-container {
  float: right;
  flex: 10%;
}
.icon-main-container > label {
  float: right;
}
