.source-column-custom-table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  background-color: var(--main);
}

.source-column-custom-table-container > label {
  text-wrap: wrap;

  font-weight: 400;
  color: var(--textSecondary);
}
