.candidate-info-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 2px solid var(--main);
}

.candidate-info-main-container:hover {
  background-color: var(--primary300);
}
.candidate-info-main-container > * {
  display: flex;
  flex: 2;
}

.candidate-info-main-container-last {
  display: flex;
  flex: 0.5;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;

  justify-content: flex-end;
}

.candidate-info-main-container-first {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.candidate-info-main-container-last > div {
  float: right;
}

@media screen and (max-width: 768px) {
  .candidate-info-main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    box-sizing: border-box;
    align-items: baseline;
    justify-content: center;
    border: 1px solid var(--textSecondary);
    padding-bottom: 10px;
  }
  .candidate-info-main-container > * {
    display: flex;
    flex: 1;
    width: 100%;
  }
  .candidate-info-main-container-last {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
  }

  .candidate-info-main-container-last > div {
    align-items: center;
  }
  .candidate-info-main-container-first {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
}
