.candidate-info-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 2px solid var(--main);
}

.candidate-info-main-container:hover {
  background-color: var(--custom);
}
.candidate-info-main-container > * {
  display: flex;
  flex: 2;
}
.candidate-info-main-container-last {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;

  justify-content: flex-end;
}

.candidate-info-main-container-last > div {
  float: right;
}
