.applicant-info-single-row-container {
  display: flex;
  flex-direction: row;
  background-color: var(--main);
  box-sizing: border-box;

  justify-content: space-between;
  position: relative;
}
.applicant-info-single-row-container-button {
  font-size: var(--miniText);
}
