.applicant-info-main-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-x: scroll;
  overflow-y: hidden;
}
.applicant-info-header {
  display: flex;
  flex: 1;
  padding: 5px;
  column-gap: 20px;
  justify-content: space-between;
  font-weight: bolder;
  box-sizing: border-box;
  background-color: var(--custom);

  color: var(--main);
}
.applicant-info-single-row-container {
  display: flex;
  flex-direction: row;
  background-color: var(--main);
  justify-content: space-between;
  column-gap: 20px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  border-bottom: 2px solid var(--custom);
}
.applicant-info-single-row-container-button {
  font-size: var(--miniText);
}

.applicant-info-single-candidate-container {
  display: flex;

  flex: 1;
}
.applicant-info-single-candidate-container-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.applicant-info-inner-container {
  display: flex;
  column-gap: 20px;
  flex: 1;
}
.applicant-info-header-inner-container {
  display: flex;
  flex-direction: row;
  background-color: var(--custom);
  column-gap: 20px;

  flex: 1;
}
