.custom-table-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.custom-table-container-header {
  display: flex;
  background-color: var(--custom);
  flex-direction: row;
  padding: 10px;
  overflow-x: scroll;

  flex: 1;
}

.custom-table-container-body {
  display: flex;
  flex: 1;
  background-color: var(--main);
  box-shadow: 1px 1px 5px gray;
  overflow-x: scroll;
}

.custom-table-container-header-child {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.custom-table-container-header-child > label {
  display: flex;
  text-wrap: wrap;
  text-decoration: underline;
  font-weight: 600;
  color: var(--main);
  font-size: var(--textTag);
  padding-left: 10px;
}

.custom-table-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  flex-direction: row;
  column-gap: 5px;
}

.custom-table-footer-previous-icon {
  padding: 10px;
  color: var(--custom);
  border: 1px solid var(--custom);
  border-radius: 10px;
  align-items: center;
}

.custom-table-footer-previous-icon:hover {
  background-color: var(--primary300);
}

.custom-table-parent-component {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: scroll;
}

.custom-table-head-component {
  display: table-header-group;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px;
  background-color: var(--custom);
}

.custom-table-container-head-row-component {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex: 1;
  justify-content: space-between;
}

.custom-table-container-body-row-component {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.custom-table-container-body-component {
  overflow-y: scroll;
}

.custom-table-row-table {
  background-color: var(--custom);
}
