.image-column-custom-table-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.image-column-custom-table-container > img {
  width: 70px;
  height: 70px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 50%;
}
