.detail-column-custom-table-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 250px; */
  flex: 1;

  align-items: center;

  gap: 5px;
}
.detail-column-custom-table-icons {
  padding: 10px;
  background-color: var(--custom);
  border-radius: 50%;
  color: var(--main);
}

.detail-column-custom-table-icons:hover {
  background-color: var(--primary300);
  color: var(--primary100);
}

@media (max-width: 750px) {
  .detail-column-custom-table-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
