* {
  margin: 0;
  padding: 0;
}
.theme {
  --main: #fafafa;
  --secondary: #ffffff;
  --primary100: #075ff7;
  --primary200: #1165ef;
  --primary300: #8eb5f4;
  --custom: #b5b5b5;
  --textPrimary: #ffffff;
  --textSecondary: #111827;
  --textSecondary100: #161c28;
  --textCustom: #b5b5b5;
}
.no-highlight {
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}
.layout {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 320px) {
  .App {
    --heading: 22px;
    --subHeading: 16px;
    --bigtext: 14px;
    --mediumText: 13px;
    --menu: 13px;
    --text: 13px;
    --textCrousal: 11px;
    --textTag: 11px;
    position: fixed;
    overflow: scroll;
  }
}
@media screen and (min-width: 320px) {
  .App {
    --heading: 22px;
    --subHeading: 16px;
    --bigtext: 14px;
    --mediumText: 13px;
    --menu: 13px;
    --text: 13px;
    --textCrousal: 11px;
    --textTag: 11px;
    position: fixed;
  }
}
@media screen and (min-width: 480px) {
  .App {
    --heading: 24px;
    --subHeading: 16px;
    --bigtext: 14px;
    --mediumText: 13px;
    --menu: 13px;
    --text: 13px;
    --textCrousal: 11px;
    --textTag: 11px;
    position: fixed;
  }
}
@media screen and (min-width: 600px) {
  .App {
    --heading: 25px;
    --subHeading: 17px;
    --bigtext: 15px;
    --mediumText: 14px;
    --menu: 14px;
    --text: 14px;
    --textCrousal: 12px;
    --textTag: 11px;
    position: fixed;
  }
}
@media screen and (min-width: 801px) {
  .App {
    --heading: 26px;
    --subHeading: 18px;
    --bigtext: 16px;
    --mediumText: 14px;
    --menu: 15px;
    --text: 15px;
    --textCrousal: 13px;
    --textTag: 11px;
    position: fixed;
  }
}
@media screen and (min-width: 1025px) {
  .App {
    --heading: 27px;
    --subHeading: 19px;
    --bigtext: 17px;
    --mediumText: 15px;
    --menu: 16px;
    --text: 16px;
    --textCrousal: 13px;
    --textTag: 11px;
    position: fixed;
  }
}
@media screen and (min-width: 1281px) {
  .App {
    --heading: 28px;
    --subHeading: 20px;
    --bigtext: 18px;
    --mediumText: 16px;
    --menu: 17px;
    --text: 17px;
    --textCrousal: 13px;
    --textTag: 11px;
    position: fixed;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
