.candidate-table-column-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.candidate-table-column-name {
  font-size: var(--textTag);
  /* text-wrap: wrap; */
  font-weight: 500;
  /* overflow-wrap: break-word; */
  color: var(--textSecondary);
}
.candidate-table-column-location {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: var(--custom);
  font-size: var(--miniText);
}

.candidate-table-column-text-decoration {
  text-decoration: underline;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

/* @media screen and (max-width: 700px) {
  .candidate-table-column-text-decoration {
    text-decoration: underline;
    text-wrap: wrap;
    overflow-wrap: break-word;
    max-width: 30px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 500px) {
  .candidate-table-column-text-decoration {
    text-decoration: underline;
    text-wrap: wrap;
    overflow-wrap: break-word;
    max-width: 30px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
  }
} */
