.match-column-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  /* width: 250px; */

  align-items: flex-start;
}
